node_modules
dist
dist-ssr
*.local

# Env / secrets
.env
.env.local
.env.*.local

# Vercel
.vercel

# Build artifacts
*.tsbuildinfo
vite.config.js
vite.config.d.ts
.DS_Store
.vscode/*
!.vscode/extensions.json
